<footer class="d-flex flex-wrap justify-content-center border-bottom bg-dark text-white py-3">
  <a
    href="https://github.com/Michal-Radomski/Express_EJS_Cards_Validator"
    class="text-center text-secondary fs-5"
    target="_blank"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    data-bs-title="Link opens in a new window"
  >
    Last update: <span><%= lastCommitDate %></span>
  </a>
</footer>
