<header class="d-flex flex-wrap justify-content-center py-3 border-bottom bg-dark text-white">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none px-3">
    <img src="favicon.png" alt="icon of a credit card" class="bi me-2" width="40" height="40" />
    <span class="fs-4 text-secondary navColor">Credit Cards Validator</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link text-white navColor">Home</a></li>
    <li class="nav-item"><a href="/" class="nav-link text-white navColor">Info & Credits</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-white navColor">Repo Link</a></li>
  </ul>
</header>
