body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

div.formPlace {
  position: absolute;
  top: 150px;
  width: 100%;
  h1 {
    text-align: center;
    padding-top: 10px;
  }
  form#cardForm {
    width: 40%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    div input[type="text"] {
      color: inherit;
    }
    div button {
      transform: translateY(3px) !important;
      transition: 0.35s ease-in-out !important;
      &:hover {
        transform: translateY(-1px) !important;
      }
    }
  }
  div.cardImage {
    margin-top: 1.5rem;
    width: 240px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
      color: transparent !important;
    }
  }
}
