<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <div><%- include("../partials/header") %></div>
    <main>
      <div>
        <div id="alertPlaceholder"></div>
      </div>
      <div class="formPlace">
        <h1>Credit Cards Number Validator</h1>
        <form action="" id="cardForm">
          <div class="mb-3">
            <label for="card_number" class="form-label"
              >Credit Card Number <span style="font-weight: 600">(Only 12-19 digits)</span>:</label
            >
            <input
              type="text"
              id="card_number"
              name="card_number"
              placeholder="Credit card number to check..."
              class="form-control"
              aria-describedby="credit card number"
              required
              pattern="[0-9]{4} [0-9]{4} [0-9]{4} ?[0-9]{0,4} ?[0-9]{0,3}"
              title="Please enter 12-19 digits"
              minlength="14"
              maxlength="23"
            />
            <div class="form-text">We'll never share your credit card number with anyone else.</div>
          </div>
          <div class="mb-3">
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-title="Validate Credit Card"
            >
              Click to Validate
            </button>
            <button
              type="reset"
              class="btn btn-secondary"
              onClick="resetForm()"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-title="Reset Credit Card"
            >
              Reset
            </button>
          </div>
        </form>
        <div class="cardImage">
          <img src="" class="img-fluid" alt="icon of a credit card" id="creditCardIcon" />
        </div>
      </div>
    </main>
    <div id="footerDiv"><%- include("../partials/footer") %></div>
  </body>
</html>
