<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <div id="alertPlaceholder"></div>
        <!-- <button type="button" class="btn btn-primary" id="liveAlertBtn">Show live alert</button> -->
      </div>
      <div class="formPlace">
        <h1>Credit Card Number Validator</h1>
        <form action="" id="cardForm">
          <div class="mb-3">
            <label for="card_number" class="form-label">Credit Card Number:</label>
            <input
              id="card_number"
              name="card_number"
              placeholder="Credit card number to check..."
              class="form-control"
              aria-describedby="credit card number"
              required
              pattern="[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{1,4}"
              title="Please enter 13-16 digits"
              maxlength="19"
            />
            <div class="form-text">We'll never share your credit card number with anyone else.</div>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Click to Validate</button>
          </div>
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>

<!-- //+ Notes -->
<!-- <div id="alertPlaceholder"></div>
<button type="button" class="btn btn-primary" id="liveAlertBtn">Show live alert</button> -->

<!-- <script>
  const alertPlaceholder = document.getElementById("alertPlaceholder");

  const alert = (message, type) => {
    const wrapper = document.createElement("div");
    wrapper.innerHTML = [
      `<div class="alert alert-${type} alert-dismissible" role="alert">
        <div>${message}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>`,
    ].join("");
    alertPlaceholder.append(wrapper);
  };

  const alertTrigger = document.getElementById("liveAlertBtn");
  if (alertTrigger) {
    alertTrigger.addEventListener("click", () => {
      alert("Alert test", "danger");
    });
  }
</script> -->
