<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Credit Card Number Validator</h1>
      <form action="" id="cardForm">
        <label for="card_number">Credit Card Number:</label><br />
        <input type="number" id="card_number" name="card_number" placeholder="Credit card number to check..." />
        <input type="submit" value="Click to Validate" />
      </form>
    </main>
    <footer></footer>
  </body>
</html>
