<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <div><%- include("../partials/header") %></div>
    <main>
      <h1 class="text-dark notFound">Page Not Found</h1>
    </main>
    <div id="footerDiv"><%- include("../partials/footer") %></div>
  </body>
</html>
