<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header></header>
    <main>
      <h1 style="color: darkblue">Page Not Found</h1>
    </main>
    <footer></footer>
  </body>
</html>
